body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

h3 {
    margin-top: 0;
    font-size: 36px;
    font-weight: bolder;
}

.header {
    padding: 15px 200px;
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    font-size: 24px;
    font-weight: bold;
}

.header-container {
    display: flex;
    gap: 10px;
}

.title {
    color: white;
    background-color: #1f2937;
    padding: 70px 200px;
    font-size: 18px;
    display: flex;
    gap: 50px;
}

.title-container {
    width: 50%;
}

.title button {
    margin: 10px;
    padding: 5px 20px;
    border: 5px none #3882F6;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}

.title img { 
    width: 50%;
    background-color: #E5E7EB40;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.array {
    display: flex;
    gap: 20px;
}

.unit {
    width: 150px;
}

.unit .box {
    border: 3px solid #3882F6;
    border-radius: 10px;
    height: 150px;
}

.unit div {
    margin: 10px 0;
    text-align: center;
}

.testimonial {
    color: #1F2937;
    background-color: #E5E7EB;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}

.testimonial-container {
    width: 800px;
}

.author {
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

.quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
}

.action{
    padding: 70px 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-box {
    padding: 50px 120px;
    background-color: #3882F6;
    border: 5px none #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.action-container h3 {
    margin: 0;
    font-size: 24px;
}

.action-container p {
    margin: 0;
    font-size: 18px;
}

.action-box button {
    padding: 8px 30px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}